[Desktop Entry]
Type=Application
Name=Hyggshi Welcome
Name=Hyggshi Welcome
Comment=Automatically open Hyggshi Welcome for each user who hasn't completed the initial setup
Exec=hyggshi-welcome
TryExec=hyggshi-welcome
Icon=hyggshi-welcome
Terminal=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=4
X-KDE-autostart-after=panel
